#root {
    --main-bg-color: orange;
    --secondary-bg-color: slategray;
    --header-bg-color: darkolivegreen;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: large;
    font-weight: 500;
}

.header {
    background-color: var(--header-bg-color);
    color: ghostwhite;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header > a {
    color: beige !important;
    text-decoration-line: none;
}

.user-avatar {
    max-width: 80px;
    max-height: 80px;
}

.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: var(--secondary-bg-color);
}

.nav-items {
    height: 100px;
}

.article-card {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
    margin: 10px;
    padding: 10px;
}

.article-img-preview {
    max-width: 350px;
}

.article-img {
    max-width: -webkit-fill-available;
}

.article {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
    margin: 10px;
    padding: 10px;
}

.article-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.interactions-bar {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interaction {
    display: flex;
    flex-direction: row;
    border: dotted 3px darkslategray;
}

.interaction-boxes {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction-icons {
    width: 30px;
}

.comment-section {
    border: dotted 3px darkslategray;
    margin: 10px;
}

.comment-card {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
    padding: 10px;
}

.add-comment {
    background-color: var(--secondary-bg-color);
}
