#root {
    --main-bg-color: orange;
    --secondary-bg-color: slategray;
    --header-bg-color: darkolivegreen;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: large;
    font-weight: 500;
}

.header {
    background-color: var(--header-bg-color);
    color: ghostwhite;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1.header {
    line-height: 1;
    margin: 20px;
}

.user-avatar {
    max-width: 80px;
    max-height: 80px;
}

.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: var(--secondary-bg-color);
}

.nav-items {
    height: 100px;
}

.article-card {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
}

.article-img-preview {
    max-width: 350px;
}

.article {
    border: dotted 3px darkslategray;
    margin: 10px;
    background-color: var(--main-bg-color);
}

.article-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.article-interactions {
    border: dotted 3px darkslategray;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
