#root {
    --main-bg-color: orange;
    --secondary-bg-color: slategray;
    --header-bg-color: darkolivegreen;
    --active-bt-color: pink;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: large;
    font-weight: 500;
}

.header {
    background-color: var(--header-bg-color);
    color: ghostwhite;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header > a {
    color: beige !important;
    text-decoration-line: none;
}

.user-avatar {
    max-width: 80px;
    max-height: 80px;
}

.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: var(--secondary-bg-color);
}

.nav-items {
    height: 100px;
}

.article-card {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
    margin: 10px;
    padding: 10px;
}

.article-img-preview {
    max-width: 350px;
}

.article-img {
    max-width: -webkit-fill-available;
}

.article {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
    margin: 10px;
    padding: 10px;
}

.article-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.article-details > p {
    margin: 0px;
}

.interactions-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interaction {
    display: flex;
    flex-direction: row;
    border: dotted 1px darkslategray;
}

.interaction-boxes {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction-boxes {
    background-color: white;
    border-radius: 50%;
    margin: 0 2px;
}

button.interaction-boxes:hover {
    animation-name: pop;
    animation-duration: 0.3s;
    transition: 0.2s;
}

@keyframes pop {
    0% {
        scale: 1;
    }
    75% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}
.active-button {
    background-color: var(--active-bt-color);
}

.interaction-icons {
    width: 30px;
    border-radius: 50%;
}

.comment-section {
    border: dotted 3px darkslategray;
    margin: 10px;
}

.comment-card {
    border: dotted 3px darkslategray;
    background-color: var(--main-bg-color);
    padding: 10px;
}

.add-comment {
    border: dotted 3px darkslategray;
    background-color: var(--secondary-bg-color);
    margin: 10px;
    padding: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sort-articles {
    display: flex;
    justify-content: flex-end;
}

.user-card {
    margin: 10px;
    background-color: var(--secondary-bg-color);
    border: dotted 3px darkslategray;
}
