#root {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: large;
    font-weight: 500;
}

.header {
    background-color: darkolivegreen;
    color: ghostwhite;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1.header {
    line-height: 1;
    margin: 20px;
}

.user-avatar {
    max-width: 80px;
    max-height: 80px;
}

.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: slategray;
}

.nav-items {
    height: 100px;
}
